* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 61, 61);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.container {
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 375px;
}

.game {
    height: 45vh;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.box {
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-weight: bolder;
    color: brown;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#reset-btn,
.new-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(9, 7, 20);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 2px 2px 10px black;
}

.msg-container {
    color: white;
    font-size: 30px;
}

.hidden {
    display: none;
}

/* Media Query for Very Small Screens */
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
        padding-left: 0;
    }
    
    .game {
        flex-direction: column;
    }
    
    .box {
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
    
    #reset-btn,
    .new-btn {
        width: 120px;
        height: 35px;
        font-size: 20px;
    }
    
    body {
        font-size: 16px;
    }
    
    .msg-container {
        font-size: 20px;
    }
}

/* Media Query for Small Screens */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    .container {
        width: 90%;
        padding-left: 0;
    }
    
    .box {
        height: 60px;
        width: 60px;
        font-size: 30px;
    }
}

/* Media Query for Medium Screens */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .container {
        width: 80%;
        padding-left: 0;
    }
    
    .box {
        height: 80px;
        width: 80px;
        font-size: 40px;
    }
    
    #reset-btn,
    .new-btn {
        width: 130px;
        height: 35px;
        font-size: 20px;
    }
    
    body {
        font-size: 18px;
    }
    
    .msg-container {
        font-size: 25px;
    }
}

/* Media Query for Medium-Large Screens */
@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .container {
        width: 70%;
        padding-left: 0;
    }
    
    .box {
        height: 100px;
        width: 100px;
        font-size: 50px;
    }
}
